.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.containedButton {
    padding: 12px 32px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}